*{
    box-sizing: border-box;
}
body{
    font-family: system-ui;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(achtergrond3.jpg);
    background-size: cover;
}

#container{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

div{
    text-align: center;
}

#title{
background: rgb(35,219,164);
    background: linear-gradient(81deg, #FF4742 0%, rgba(68,68,68,1) 62%);
    background-clip: padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1{
    font-size: 40px;
    max-width: 100%;
}
@media only screen and (max-width: 600px) {
    h1{
        font-size: 30px;
    }
  }

li {
    list-style-type: none;
    counter-increment: item;
    margin-bottom: 2%;
}

li:before {
    content: counter(item);
    margin-right: 5px;
    font-size: 80%;
    background-color: #FF4742;
    color: white;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 3px;
}

.button-container {
    display: flex;
    flex-direction: column; /* Arrange buttons vertically */
    justify-content: center; /* Center buttons horizontally */
    align-items: center; /* Center buttons vertically */
}

button {
    margin: 10px;
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}



button:hover,
button:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

button:active {
    opacity: .5;
}


  
.custom-paragraph {
    max-width: 400px; /* Set your desired width here */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  progress{
    height: 30px;
    width: 50%
  }

  span{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: bold;
  }